
//background//
$desk-background: url("/assets/images/bg-desktop.svg");
$mobil-background: url("/assets/images/bg-mobile.svg");
$logo: url("/assets/images/logo.svg");
$illustration : url("/assets/images/illustration-mockups.svg");